<template>
  <div>
    <h5>
      To get started, which services are required?
    </h5>
    <div class="row">
      <div class="col s12 l8 offset-l2">
        <div class="card-panel">
          <table>
            <thead>
              <tr>
                  <th>Service</th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="item in services" v-bind:key="item.id">
                <td class="flow-text">{{item.name}}</td>
                <td>
                  <div class="switch">
                    <label>
                      No
                      <input :id="`chkService-${item.id}`" type="checkbox" checked>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row center">
      <div class="s10">
        <router-link :to="{ name: 'calc-customer' }" class="btn-large">
          Next
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  data() {
    return {
      services: [
        {id: 'impl', name: 'Implementation Services'},
        {id: 'migrate', name: 'Migration Services'},
        {id: 'edu', name: 'Education'},
      ],
    };
  },
});
</script>