<template>
  <div>
    <h5>
      Customer Details
    </h5>
    <div class="row">
      <div class="col s12 l8 offset-l2">
        <div class="card-panel">
          <table>
            <thead>
              <tr>
                  <th>Details</th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="flow-text">
                  Customer Name
                </td>
                <td>
                  <div class="input-field">
                    <input placeholder="Pied Piper, Inc." id="customer_name" type="text" class="validate">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="flow-text">
                  License Type
                </td>
                <td>
                  <div class="input-field">
                    <select>
                      <option value="" disabled selected>Please choose one</option>
                      <option value="premium">Premium</option>
                      <option value="ultimate">Ultimate</option>
                      <option value="not_premium_or_ultimate">Not Premium or Ultimate</option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row center">
      <div class="s10">
        <router-link :to="{ name: 'calc-implementation' }" class="btn-large">
          Next
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { initMaterlize } from '@/lib/init.js';

export default Vue.extend({
  mounted() {
    initMaterlize();
  },
});
</script>