<template>
  <div>
    <h5>
      Implementation Details
    </h5>
    <div class="row">
      <div class="col s12 l8 offset-l2">
        <div class="card-panel">
          <div class="row">
            <div class="col m6 s12">
              <span class="flow-text">High Availability (HA)</span>
            </div>
            <div class="col m6 s12">
              <div class="switch">
                  <label>
                    No
                    <input type="checkbox" checked>
                    <span class="lever"></span>
                    Yes
                  </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col m6 s12">
              <span class="flow-text">GitLab Geo (Geo)</span>
            </div>
            <div class="col m6 s12">
              <div class="switch">
                  <label>
                    No
                    <input type="checkbox">
                    <span class="lever"></span>
                    Yes
                  </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col m6 s12">
              <span class="flow-text">Number of Users</span>
            </div>
            <div class="col m6 s12">
              <div class="input-field">
                <select>
                  <option value="" disabled selected>Please choose one</option>
                  <option value="less">500 or less</option>
                  <option value="more">over 500</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col m6 s12">
              <span class="flow-text">What data center environment will GitLab be installed in?</span>
            </div>
            <div class="col m6 s12">
              <div class="input-field">
                <select>
                  <option value="" disabled selected>Please choose one</option>
                  <option value="premium">Premium</option>
                  <option value="ultimate">Ultimate</option>
                  <option value="not_premium_or_ultimate">Not Premium or Ultimate</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center">
      <div class="s10">
        <router-link :to="{ name: 'calc-requirements' }" class="btn-large">
          Next
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { initMaterlize } from '@/lib/init.js';

export default Vue.extend({
  mounted() {
    initMaterlize();
  },
});
</script>