<template>
  <div>
    <h5>
      Integration Services
      <div class="switch right">
        <label>
          No
          <input type="checkbox" v-model="showIntegrate">
          <span class="lever"></span>
          Yes
        </label>
      </div>
    </h5>
    <div id="integrate" v-show="showIntegrate">
      <div class="row">
        <div class="col s12 l8 offset-l2">
          <hr/>
          <h5>
            Do they need to integrate to any of these third party systems?
          </h5>
          <div class="card-panel">
            <div class="row">
              <div class="col m6 s12">
                <span class="flow-text">LDAP</span>
              </div>
              <div class="col m6 s12">
                <div class="switch">
                  <label>
                    No
                    <input type="checkbox">
                    <span class="lever"></span>
                    Yes
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col m6 s12">
                <span class="flow-text">JIRA</span>
              </div>
              <div class="col m6 s12">
                <div class="switch">
                    <label>
                      No
                      <input type="checkbox">
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l8 offset-l2">
          <h5>
            Other Integrations
          </h5>
          <p>
            If they need assistance with other integrations, please get a quote from Professional Services and enter it below. (e.g. Jenkins)
          </p>
          <div class="row">
            <div class="col s6 offset-s3 card-panel">
              <div class="input-field">
                <input placeholder="15,000" id="customer_name" type="text" class="validate">
              </div>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
    <br/>
    <h5>
      Migration Services
      <div class="switch right">
        <label>
          No
          <input type="checkbox" v-model="showMigrate">
          <span class="lever"></span>
          Yes
        </label>
      </div>
    </h5>
    <div id="migrate" v-show="showMigrate">
      <div class="row">
        <div class="col s12 l8 offset-l2">
          <hr/>
          <h5>
            Legacy third party system 
            <small>(e.g. SVN, GitHub, Perforce, etc.)</small>
          </h5>
          <p>
            If they need assistance with migration from a legacy system, please get a quote from Professional Services and enter it below. 
          </p>
          <div class="row">
            <div class="col s6 offset-s3 card-panel">
              <div class="input-field">
                <input placeholder="15,000" id="customer_name" type="text" class="validate">
              </div>
            </div>
          </div>
          <hr/>
        </div>
      </div>
    </div>
    <br/>
    <h5>
      Education and Training
      <div class="switch right">
        <label>
          No
          <input type="checkbox" v-model="showEdu">
          <span class="lever"></span>
          Yes
        </label>
      </div>
    </h5>
    <div id="edu" v-show="showEdu">
      <div class="row">
        <div class="col s12 l8 offset-l2">
          <hr/>
          <h5>
            How many training sessions do they need?
          </h5>
          <div class="row card-panel">
            <div class="row" v-for="item in this.$store.state.training" v-bind:key="item.id">
              <div class="col m6 s12">
                <span class="flow-text">{{item.name}}</span>
              </div>
              <div class="col m6 s12">
                <div class="input-field">
                  <select :id="`selectTraining-${item.id}`">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <hr/>
        </div>
      </div>
    </div>
    <br/>
    
    <div class="row center">
      <div class="s10">
        <router-link :to="{ name: 'calc-review' }" class="btn-large">
          Next
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { initMaterlize } from '@/lib/init.js';

export default Vue.extend({
  data() {
    return {
      showIntegrate: true,
      showMigrate: true,
      showEdu: true,
    }
  },
  mounted() {
    initMaterlize();
  },
});
</script>