<template>
  <div>
    <h5>
      Final Review
    </h5>
    <div class="row">
      <div class="col s12 l8 offset-l2">
        <div class="card-panel ">

        </div>
      </div>
    </div>
    <div class="row center">
      <div class="s10">
        <a class="btn-large">
          Create SOW
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({

});
</script>