<template>
  <div style="min-height: 400px;">
    <h4 class="center">
      Welcome to the GitLab Services Calculator.
    </h4>
    <p class="flow-text">
      This tool will guide you through the creation of an SOW or to an off-the-shelf SKU where available.  <br/>
    </p>
    <p>
      If you have any questions, feel free to reach out in 
      <a href="https://gitlab.slack.com/channels/g_professionalservice" target="_blank">
      <code>#g_professionalservices</code> 
      on Slack</a>.
    </p>
    <br/><br/>
    <div class="row center">
      <div class="s10">
        <router-link :to="{ name: 'calc-start' }" class="btn-large">
          Start
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({

});
</script>