<template>
    <footer class="page-footer deep-purple lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">
              GitLab Services Calculator
          </h5>
          <p class="grey-text text-lighten-4">
            This calculator is designed to enable Sales to quote GitLab Professional Services below a certain level.
            All services proposals should still be approved by the Professional Services Engineering group.
          </p>


        </div>
        <div class="col s1">
            &nbsp;
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Idea? Suggestion?</h5>
          <ul>
            <li><a class="white-text" href="https://gitlab.com/services-calculator/services-calculator.gitlab.io/issues" target="_blank">Add an issue</a></li>
            <li><a class="white-text" href="https://gitlab.com/services-calculator/services-calculator.gitlab.io/" target="_blank">Repository</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by the <a class="purple-text text-lighten-3" href="https://about.gitlab.com/company/team/?department=professional-services">GitLab Professional Services Team</a> 
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>