<template>
    <nav class="" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">
                <span class="hide-on-small-only">GitLab Services </span>Calculator
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://gitlab.com/services-calculator/services-calculator.gitlab.io/issues" target="_blank">Idea? Suggestion? Open an issue</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="https://gitlab.com/services-calculator/services-calculator.gitlab.io/issues" target="_blank">Idea? Suggestion? Open an issue</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
        
    </nav>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>