<template>
<div class="row center light-blue-text">
    <div class="col s1">
        &nbsp;
    </div>
    <div class="col s2" v-for="item in this.$store.state.calcNavItems" v-bind:key="item.href">
        <router-link :to="`${item.href}`">
            <i class="material-icons md-icon">{{myIcon(item.href)}}</i>
            <br/>
            <span class="hide-on-small-only">{{item.name}}</span>
        </router-link>
    </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    methods: {
        myIcon(href: string) {
            return 'check_box_outline_blank';
        },
    },
});
</script>