<template>
  <div id="app">
    <navbar/>
    <div class="section no-pad-bot">
      <div class="container">
        <calcprogress/>
        <router-view/>
      </div>
    </div>
    <br/><br/>
    <pagefooter/>
  </div>
</template>

<style lang="scss">
@import 'assets/sass/materialize';
</style>

<script lang="ts">
import Vue from 'vue';

import navbar         from '@/components/navbar.vue';
import pagefooter     from '@/components/footer.vue';
import calcprogress   from '@/components/progress.vue';

export default Vue.extend({
  components: {
    navbar,
    pagefooter,
    calcprogress,
  }
});
</script>